<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/style.css'>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
<body>
 <div class="container">
  <h2>Student Data</h2>           
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
         <th>Serial No</th>
         <th>regNo</th>
         <th>rollNo</th> 
         <th>name</th>
         <th>age</th>
         <th>college</th>
         <th>address</th>
         <th>action</th>
      </tr>
    </thead>
    <tbody>
   <% students.forEach(function(v ,ind){ %>
    <tr>
      <td><%= ind+1 %></td>
      <td><%= v.regNo %></td>
      <td><%= v.rollNo %></td>
      <td><%= v.name.firstName+" "+v.name.lastName %></td>
      <td><%= v.age %></td>
      <td><%= v.college %></td>
      <td><%= v.address.city+" "+v.address.country+" "+v.address.state %></td>
      
     	<td>
     	 <button class="edit-btn" data-student-id="<%= v._id%>"> Edit</button>
     	 <button class="delete-btn" data-student-id="<%= v._id%>"> Delete</button>
     	</td>
    </tr>
    <%}) %> 
   </tbody>
  </table>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $(".edit-btn").click(function(e){
       e.preventDefault();
       window.location.href='/student/edit/'+$(this).data("student-id");
    });
});
</script>
<script>
 $(document).ready(function(){
    $(".delete-btn").click(function(e){
    	// alert(111111)
       e.preventDefault();
        $.ajax({
                type:"DELETE",
                cache:false,
                url:'/student/' +$(this).data("student-id"),   
                success: function (result)
                 {
                  console.log(result)
                 }
               });
        //window.location.href='student/list/';
      });
   });
</script>

</body>
</html>
